<!DOCTYPE html>

<html class="accueil" lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>tp3.html</title>
		<style>
		</style>
	</head>
	<body>
		<div id="app"> 
            <ul style="margin-top:50px;">
                <li v-for='(line, index) in todo' :key="todo[index]['id']">
                    <input type="text" v-model="todo[index]['titre']">
                    <button @click='deleteLine(index)'>Supprimer</button>
                </li>
            </ul>
            <button @click='add()'>Add todo</button>
            debug: {{ todo }}
            <br>
            
        </div>

			

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

		<script type="text/javascript">

			var app = new Vue({
				el: '#app',
				data: {
                    apiUri: "http://localhost:3000/",
                    todo: null,
                    lastId: null
				},
				methods:{   
                    add: function(){

                        let line = new Object();

                        if(!this.todo){
                            this.todo = [];
                        }

                        line['id'] = this.lastId+1;
                        line['titre'] = '';
                        this.todo.push(line);

                        /*fetch(this.apiUri + 'todo', {
                                method: 'POST',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(line),
                            });*/
                        
                        // à mettre autrepart   
                        /**/

                        this.lastId +=1;
                    },
                    deleteLine: function(index){
                        if(index != null){
                            this.todo.splice(index, 1);
                            fetch(this.apiUri + 'todo/' + index, {
                                method: "DELETE",
                            });
                        }
                    }
				},
                computed:{
                },

                mounted(){
                    fetch(this.apiUri + 'todo/', {
                        method: 'GET',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        }
                        })
                        .then((response) =>response.json())
                        .then((data) => {
                            this.todo = data;
                            this.lastId = this.todo[this.todo.length-1]['id'];
                    });
                },

                watch:{
                    todo: {
                        handler: function() {

                            for(let i = 1; i<this.todo.length; i++){
                                
                                fetch(this.apiUri + 'todo/' + i, {
                                method: "DELETE",
                                
                            });
                            }
                            
                            fetch(this.apiUri + 'todo', {
                                method: 'POST',
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify(this.todo)
                            });
                        },
                        deep : true
                    }
                }
			});

		</script>
    </body>
</html>